
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
  }
  
  html,
  body {
    height: auto;
    /* background: linear-gradient(90deg, #7c2f0b, #f59527); */
  }
  
  .aq > * {
    background-color: aquamarine;
  }
  
  .sideContainer {
    margin: 1rem 0 1rem 0;
  }
  
  #sideHeader {
    color: #d30000;
    font-weight: 900;
    text-decoration: underline;
  }
  .navbar {
    height: 60px !important;
  }
  
  .nav-item {
    font-size: 20px;
  }
  
  .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: #63add0;
    border-radius: 30px;
    padding: 10px;
  }
  
  .search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_input {
    padding: 0 10px;
    width: 200px;
    caret-color: white;
    transition: width 0.4s linear;
  }
  
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
  }
  
  .search_icon {
    height: auto;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
  }

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{
    background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;
}
.container{
    background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.carousel-inner{
   
    border-radius:0 10px 10px 0;
}
.carousel-caption{
    text-align:left; left:5%;
}
.login-sec{
    padding: 50px 30px; position:relative;
}
.login-sec .copy-text{
    position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;
}
.login-sec .copy-text i{
    color:#FEB58A;
}
.login-sec .copy-text a{
    color:#E36262;
}
.login-sec h2{
    margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;
}
.login-sec h2:after{
    content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto
}
.btn-login{
    background: #DE6262; color:#fff; font-weight:600;
}
.banner-text{
    width:70%; position:absolute; bottom:40px; padding-left:20px;
}
.banner-text h2
{color:#fff; font-weight:600;
}
.banner-text h2:after{
    content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;
}
.banner-text p{
    color:#fff;
}