* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    /* color:#fff; */
  }
  
  html,
  body {
    height: auto;
    background: linear-gradient(to right, #b92b27, #1565c0)
  }
  
  #calendar{
    
     color:#fff; 
  }
  
  .navbar {
    height: 60px !important;
  }
  .navbar-brand{
    color: #63ADD0;
  
  }.navbar-brand:hover{
    text-decoration:none;
    color: #63ADD0;
  }
  .nav-item {
    font-size: 22px;
    /* padding-right: 20px;
    padding-left: 20px; */
  }
  
  .hide{
    display: none;
  } 
  #Exit{
    border:0;
    background: none;
    padding: 8px;
    color: rgba(0,0,0,.5);
    font-weight: 700!important;
  }
  #Exit:hover{
    color:rgba(0, 0, 0, 0.70);
  }
  #Exit:active,#Exit:focus{
    outline: none !important;
  }
  .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: #63add0;
    border-radius: 30px;
    width:auto;
  
  }
  
  .search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    transition: width 0.4s linear; 
    margin-top:10px;
  }
  .search_input {
    padding: 0 10px;
  }
  
  .searchbar:hover > .search_input {
   
    width: 200px;
    caret-color: white;
    transition: width 0.4s linear;
  }
  .search_icon {
    box-sizing: border-box;
    height: auto;
    width: 30px;
    float: right;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top:2px;
    margin-right: 3px;
  }
  .search_icon:hover{
    color: #6c757d;
  }
    
    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: white;
    }
    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: white;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: white;
    }
  
 
  