* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  html,
  body {
      height: 100%;
    background: linear-gradient(90deg, rgba(0,107,82,0.2) 0%, rgba(0,212,255,0.2) 100%);
    display: flex;
    flex-direction: column;
  }
  
  .header {
    width: 100%;
    height: 60px;
    display: block;
    background-color: #ccc;
  }
  
  .inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0px;
    background-color: red;
  }
  
  .footer {
    flex-shrink: 0;
    background-color: #ccc;
    bottom: 0px;
  }

  
  .content-text {
    
    margin: 2em 1em 0 1em;
  }
  
  .content-text > h1 {
    display: inline;
    background: white;
    padding: 0 6px;
  }
  
  .content-text > span {
    display: inline-block;
    background: white;
    text-align: justify;
    padding: 6px;
  }