* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  /* color:#fff; */
}

html,
body {
  height: auto;
  background: linear-gradient(to right, #b92b27, #1565c0)
}

 

.navbar {
  height: 60px !important;
}
.navbar-brand{
  color: #63ADD0;

}.navbar-brand:hover{
  text-decoration:none;
  color: #63ADD0;
}
.nav-item {
  font-size: 22px;
  /* padding-right: 20px;
  padding-left: 20px; */
}
.hide{
  display: none;
} 
#Exit{
  border:0;
  background: none;
  padding: 8px;
  color: rgba(0,0,0,.5);
  font-weight: 700!important;
}
#Exit:hover{
  color:rgba(0, 0, 0, 0.70);
}
#Exit:active,#Exit:focus{
  outline: none !important;
}
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: #63add0;
  border-radius: 30px;
  width:auto;

}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  transition: width 0.4s linear; 
  margin-top:10px;
}
.search_input {
  padding: 0 10px;
}

.searchbar:hover > .search_input {
 
  width: 200px;
  caret-color: white;
  transition: width 0.4s linear;
}
.search_icon {
  box-sizing: border-box;
  height: auto;
  width: 30px;
  float: right;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-top:2px;
  margin-right: 3px;

}
.search_icon:hover{
  color: #6c757d;
}
  
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
  }
  
  
main{
  color:#fff;
}
  main h2{
    margin-top:60px;
    margin-top:60px;
  }
  /* main h4{
    margin-top:40px;
    margin-bottom:50px;
  } */
  h5{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size:25px;
  }

   .form-row{
    margin-top: 20px;
    width: 100%;
  } 

  .form-row textarea{
    height: 200px;
    padding: 10px;
  }
  .form-row button{
    height: 50px;
    margin-top: 100px;
    margin-left: 25px;
  
  }
   
  .form-control {
      height: 40px;
    padding: 10px;
    background-color:#272c30;
    color: #fff;
    border: 1px solid #fff ; 
  }
  .form-control:focus{
    outline: none;
     border: 1px solid #63ADD0; 
     box-shadow:none;
     background-color: #272c30;
    }
    .form-control::placeholder {
      color:#fff;
      font-size: 1.2em;
      /* text-align: center;
       */
    }
.knopki{
   margin-top:60px; 
}
.btn{
color:#191919;

}
.btn:hover{
color: #272c30;
background-color:#63ADD0;
border:none;
box-shadow: none;
}

  .col {
    width: 100%;
    text-align: center;
  }

     /* outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important; 
    border-style: double; */
 
  
.page-footer{
   margin-top: 200px;
}
.footer-copyright{
  background-color: #272c30;
  color:#6c757d;

}.footer-copyright a{
  color:#6c757d;

}
.footer-copyright a:hover{
 text-decoration: none; 
}

.list-inline-item a img{
  border-radius: 50%;
}.list-inline-item a img:hover {
  transform: rotate(360deg);
  transition: all 0.7s
}