* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: auto;
  background: linear-gradient(180deg, #544a7d, #ffd452);
}

.aq > * {
  background-color: aquamarine;
}

.sideContainer {
  margin: 1rem 0 1rem 0;
}

#sideHeader {
  color: #d30000;
  font-weight: 900;
  text-decoration: underline;
}
