* {
  margin: 0;
  padding: 0;
  list-style: none;
 text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
 
  
}
html,
body {
  
    height: 100%;
    width: 100%;

    background: #e74c3c !important;
  
}
/* .navbar{ */
  /* position: relative;
  justify-content: center;
} */
.carousel-inner{
  height:400px;
}
.carousel-inner img{
  transform:translateY(-10%);
  width:75%;
  height:100%;
}
.carousel-caption{
  position: absolute;
  top:50%;
  transform:translateY(-80%);
  text-shadow: 1px 1px 10px black;
}

.main-content-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 900px;
  height: 350px;
  background-size: cover;
  border: solid #fff 6px;
}

.content-text {
  margin: 1em 1em 0 1em;
}

.content-text > h1 {
  display: inline;
  background: white;
  padding: 0px 6px 6px 6px;
}

.content-text > span {
  display: inline-block;
  background: white;
  text-align: justify;
  padding: 6px;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  height:100%;
 
  }

  .search_icon{
  height: auto;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }